doctype html
html(lang='es', ng-app="Delix" )
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title !{titulo}
    link(rel='shortcut icon', href='./img/icon.svg')
    link(rel='icon', type='image/gif', href='./img/icon.svg')
    link(rel='stylesheet', href='./components/semantic-ui/semantic.min.css')
    link(rel="stylesheet", href="./stylesheets/style.css")

    script(src='./components/jquery/jquery.min.js')
    script(src='./components/semantic-ui/semantic.min.js')
    script(src='./components/angular/angular.js')
    script(src='./components/jquery/jquery.sticky-kit.min.js')

  body(ng-controller="main")
    block menu
    block content
    script(type='text/javascript').
      $(document).ready(function() {
        $(".sticky").stick_in_parent();
        //$('.ui.dropdown').dropdown();
        $('.ui.modal').modal();
        $("#btnmain").click(function() {
          $('html, body').animate({
            scrollTop: $("#step1").offset().top
          }, 800);
        });
      });
    script(src='./scripts/angular.js')
    script(src='./scripts/calendar.js')


