.ui.inverted.five.item.fixed.menu.hidden
  .grey.item(title="lleva al paso 1." ng-class='step1') {{step.p1}}
  .grey.item(title="lleva al paso 2." ng-class='step2') {{step.p2}}
  .grey.item(title="lleva al paso 3." ng-class='step3') {{step.p3}}
  .grey.item(title="lleva al paso 4." ng-class='step4') {{step.p4}}
  .grey.item(title="lleva al paso 5." ng-class='step5') {{step.p5}}
