<header class="content">
	<div class="row items-push">
		<div class="col-sm-7">
			<h1 class="h3 font-w400 push-5-t">Ordenes</h1>
		</div>
		<div class="col-sm-5 text-right">
		</div>
	</div>
</header>
<section class="content">
	<div class="block block-rounded" ng-class="{'block-opt-refresh': getting}">
		<div class="block-header remove-padding-b">
			<ul class="block-options">
				<li><button type="button" ng-click="getCustomers()" title="recargar" bs-tooltip><i class="fa fa-refresh"></i></button></li>
			</ul>
			<h4 class="block-title">Todos los órdenes</h4>
		</div>
		<div class="block-content">
			<p class="ng-hide text-muted" ng-show="orders.length == 0">no se encontraron órdenes cargadas</p>
			<table class="ng-hide table table-hover" ng-show="orders.length > 0">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Experiencia</th>
						<th>Cliente</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in orders">
						<td><a ng-href="/admin/#/orders/{{row.id}}">{{ row.date | date:'short' }}</a></td>
						<td><a ng-href="/admin/#/experiences/{{row.experience.id}}">{{ row.experience.name }}</a></td>
						<td><a ng-href="/admin/#/customers/{{row.customer.id}}">{{ row.customer.name }}</a></td>
						<td>
							<span class="ng-hide label label-success" ng-show="row.status">activo</span>
							<span class="ng-hide label label-danger" ng-show="!row.status">inactivo</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>